@charset "utf-8";
/* ---------- reset ---------- */
body,dl,dt,dd,ul,ol,li,th,td,form,input,textarea,p {margin:0; padding:0;}
img {display:block; border:0;}
li {list-style:none}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
article,aside,canvas,figure,figure img,figcaption,footer,header,hgroup,menu,nav,section,audio,video {display:block; margin:0; padding:0;}

/* ---------- common ---------- */
html {overflow-y:scroll;}
body {text-align:center; font-size:16px; line-height:1.7; 
font-family:"微軟正黑體", "Microsoft JhengHei", sans-serif; color:#111939;
background-color:#f4f3ef;
}
h1,h2,h3,h4,h5,h6 {margin:0;}
p {text-align:justify; text-justify:distribute;}
p+p {margin-top:10px;}
a {outline:none; text-decoration:none;}
input {vertical-align:middle;}

pre {
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */    
overflow:hidden;
}

.outerWpr {position:relative; min-height:100vh;
text-align:left;    
display:flex; flex-direction:column;
}
.centerwpr {max-width:720px; padding:0 20px; margin:0 auto;
position:relative; box-sizing:border-box;
}

/* ---------- header ---------- */
.header {width:100%; height:44px; position:relative;
background:linear-gradient(to right, #882da8 0%,#3d4dda 50%,#087ad5 100%);   
position:fixed; left:0; top:0; z-index:9999;
}
.header .centerwpr {height:100%; max-width:1170px;}
.header .centerwpr:after {content:""; display:table; clear:both;}
.header--logo {width:144px; height:100%; position:relative; float:left;
background-image:url("../images/logo.png"); background-repeat:no-repeat;
background-size:auto 32px; background-position:left center;
}
.header--logo:after {content:""; display:block; width:100px; height:100%;
position:absolute; right:0; top:0;
background-image:url("../images/yeeebang.png"); background-repeat:no-repeat;
background-size:auto 28px; background-position:left 8px;
}

/* ---------- download btn ---------- */
.download {height:100%; float:right;
display:flex; justify-content:space-between; align-items:center;
color:#fff;
}
.download--btn {padding:5px 10px 5px 8px;
color:#fff; font-size:13px; font-weight:bold;
border-radius:4px;
background-color:#03bdcc;
display:flex; justify-content:center; align-items:center;
position:relative;
}
.download--btn:hover {background-color:#111939;}
.download--btn+.download--btn {margin-left:8px;}
.download .txt {margin-right:10px; font-size:14px;
position:relative;
}

.download--btn .fab {margin-right:5px;}
.download--btn .fa-apple {font-size:20px;}
.download--btn .fa-google-play {font-size:16px; position:relative; top:1px;}

/* ---------- downloag btn mobile ---------- */
#hamburger {width:70px; height:100%; position:absolute; right:0; top:0;
cursor:pointer; z-index:980;
display:none;
}
.hamburger--icon {width:26px; height:3px; pointer-events:none;
position:absolute; left:50%; top:50%; margin:-1px 0 0 -13px;
background-color:#fff; border-radius:3px;
}
.hamburger--icon:before,
.hamburger--icon:after {content:""; display:block;
width:26px; height:3px;
position:absolute;
background-color:#fff; border-radius:3px;
}
.hamburger--icon:before {top:-9px;}
.hamburger--icon:after {bottom:-9px;}

.active .hamburger--icon {height:4px; margin-top:-2px;
transform:rotate(45deg);    
}
.active .hamburger--icon:after {display:none;}
.active .hamburger--icon:before {width:4px; height:26px;
left:50%; top:50%; margin:-13px 0 0 -2px;
}

#downloadOverlay {width:100%; height:100%;
position:fixed; left:0; top:0; z-index:970;
display:none;
}
#downloadOverlay.active {display:block;}

/* ---------- User ---------- */
#userControlwpr {height:32px; margin-left:8px;}

#ucLoginbtn {cursor:pointer; height:100%; padding:0 15px;
display:flex; align-items:center;    
font-size:14px; line-height:1; border-radius:4px;
}
.login #ucLoginbtn {display:none;}

#ucLoginbtn:hover {background-color:#12529f;}

#ucLoginbtn i {margin-right:8px; color:#f3f8fd;
position:relative; top:1px;
}

.uc-info {display:none; align-items:center; padding-left:10px; height:100%;}
.login .uc-info {display:flex;}

.uc-info--avatar {width:30px; height:30px; margin-right:10px;
border-radius:50%; overflow:hidden;
flex-shrink:0;
}
.uc-info--avatar img {width:100%;}
.uc-info--name {font-size:13px; line-height:1; flex-shrink:0;}

#ucLogoutbtn {height:90%; padding:0 10px; margin-left:12px;
display:flex; align-items:center;    
font-size:14px; line-height:1; color:#fff;
border-radius:4px;   
background-color:#12529f;
}
#ucLogoutbtn:hover {background-color:#124588;}

/* ---------- footer ---------- */
.footer {position:relative; flex-shrink:0;    
min-height:26px; padding-top:6px; padding-bottom:6px;
display:flex; justify-content:center; align-items:center;    
background-color:#111939;
}
.footer--rights {text-align:center; font-size:13px; color:#fff;
line-height:1.2;
}

/* ---------- main ---------- */
.main {flex:1; padding-top:44px;}

/* main: header */
.main--header {    
background-color:#fff;
box-shadow:0 2px 4px rgba(0,0,0,0.1); 
}
.main--header .centerwpr {padding-top:15px; padding-bottom:15px;
display:flex; justify-content:flex-start; align-items:center;
}

.main--avatar {width:80px; height:80px; margin-right:15px;
border-radius:50%; overflow:hidden; flex-shrink:0;
}
.main--avatar img {width:100%;}

.main--head h1 {font-size:24px; line-height:1.1; margin-bottom:6px;}
.main--head h2 {font-size:16px; color:#999; line-height:1.1;}

/* main: content */
.main--content .centerwpr {padding-top:40px; padding-bottom:40px;
overflow:hidden;
}
.main section+section {margin-top:30px; padding-top:30px;
border-top:4px solid rgba(0,0,0,.04);
}
.main--content h2 {margin-bottom:20px;
font-size:21px; line-height:1;
}

p+ul, p+ol {margin-top:20px;}
ul+p, ol+p {margin-top:20px;}

.main--content li {line-height:1.3;}
.basic-info li,
.contact-info li {display:flex; align-items:center;}

.main--content li+li {margin-top:12px;}
.main--content ul li:before {
content:""; display:inline-block; margin-right:10px;
width:6px; height:6px; vertical-align:middle;
border:2px solid #029ce5; border-radius:50%;
}

.main--content ol {counter-reset:list;}
.main--content ol li:before {
counter-increment:list;    
content:counter(list, decimal) ".";  
color:#029ce5; font-weight:bold; margin-right:10px;
}

.main--content h2:before {position:relative;
display:inline-block; margin-right:10px;
font-style:normal; font-variant:normal; text-rendering:auto;
-webkit-font-smoothing:antialiased;
font-family:"Font Awesome 5 Free"; 
content:"\f105";
font-size:23px;
}

.main--content a {color:#007aff; padding:0 4px;
border-bottom:1px dotted #007aff;
overflow-wrap:break-word; word-wrap:break-word;
}
.main--content a:hover {
background-color:#03bdcc; color:#fff;    
}

/* coupon */
.coupon {padding:15px; color:#fff;
display:flex; justify-content:flex-start; align-items:center;
background-color:#111939; margin-bottom:30px;
border-radius:8px;
box-shadow:0 2px 4px rgba(0,0,0,0.05); 
background:linear-gradient(to right, #4756d2 0%,#0c7cdd 100%); 
}

.coupon--icon {width:60px; height:60px; margin-right:16px;
flex-shrink:0;
}
.coupon--icon img {width:100%;}

.coupon h2 {margin-bottom:4px;}
.main--content .coupon h2:before {margin-right:6px;
content:"\f05a"; font-size:20px;
}

/* swiper */
.swiper-slide img {max-width:100%; max-height:100%; margin:0 auto;}

/* App store */
.store {
background-color:#f9f8f6; border-top:1px solid #eae9e6;
}
.store .centerwpr {padding-top:25px; padding-bottom:25px;
display:flex; justify-content:space-between; align-items:center;
}
.qrcode {flex-shrink:0; position:relative;}
.qrcode img {width:120px; height:120px;
border:12px solid #fff; margin-bottom:0px;
box-shadow:0 0 3px rgba(0,0,0,.1);
}
.qrcode p {
font-size:14px; font-weight:bold; text-align:center;
}
.qrcode .fab {margin-right:6px; font-size:14px;}
.qrcode .fa-apple {font-size:16px;}

.store--intro {position:relative;}
.store--intro p {padding:0 20px;}
.store--intro p {text-align:center; font-size:15px; line-height:1.5;}
.store--intro p strong {font-size:20px;}
.store--intro p.mobile {margin-bottom:10px; margin-top:0; padding:0;
display:none;
}

.fa-search {position:absolute; left:50%; top:50%;
margin:-50px 0 0 -50px;    
font-size:100px; color:#eae9e6; opacity:0.3;
}

.btn-container {display:none; justify-content:center; align-items:center;}
.store .download--btn {padding:9px 14px 9px 14px;}
.store .download--btn:hover {background-color:#111939;}
.store .download--btn.apple {margin-bottom:0; margin-right:15px;}

/* ---------- breadcrumb ---------- */
.breadcrumb {padding:4px 0;
font-size:14px;
background-color:#202340; border-bottom:1px solid #eae9e6;
padding:0; height:0; overflow:hidden; line-height:0; font-size:0; border-bottom:none;
}
.breadcrumb ul {display:flex; align-items:center;}
.breadcrumb li {display:inline-flex; align-items:center; flex-shrink:0;}
.breadcrumb li+li:before {content:""; display:block; margin:0 4px;    
width:10px; height:20px;
background-image:url("../images/icon.png"); background-repeat:no-repeat;
background-size:14px auto; background-position:2px 5px;
opacity:0.8;
}
.breadcrumb a {display:block; color:#dededd;}
.breadcrumb a:hover {color:#fff;}

/* ---------- rating: star ---------- */
.star-container {position:relative;
display:flex; align-items:center;
}
.basic-info .star-container {margin-right:10px; flex-shrink:0; cursor:pointer;}
/* li.rating br {display:none;} */

.star-wpr {position:relative; width:18px; height:20px;
background-image:url("../images/rating-star.png"); background-repeat:no-repeat;
background-size:18px auto; background-position:0 2px;
image-rendering: -moz-crisp-edges;
}
.star-wpr+.star-wpr {margin-left:4px;}

.star-wpr i {width:100%; height:100%; display:none;
position:absolute; left:0; bottom:1px;    
background-image:url("../images/rating-star.png"); background-repeat:no-repeat;
background-size:18px auto; background-position:0 bottom;
image-rendering: -moz-crisp-edges;
}
.star-wpr.checked i {display:block;}

#ratingSum {font-size:15px;}
#ratingSum .sum {color:#777;}

/* rating summary */
.ratingSummary {display:flex; align-items:center;}

.ratingSummary--avg {margin-right:30px;}
.ratingSummary--avg__number {margin-bottom:12px;
font-size:70px; font-weight:bold; letter-spacing:1px; text-align:center;
line-height:1; color:#0e315a;
}

.ratingSummary--rates {flex:1;}

.rates-entry {display:flex; align-items:center;}
.rates-entry+.rates-entry {margin-top:5px;}
.rates--slot {width:70%; height:18px;
background-color:#dedfe0;
}
.rates--bar {height:100%;
background-color:#0492e0;
}

.rates--star {display:flex; align-items:center; margin:0 10px;}
.rates--star .star {display:block; width:18px; height:20px;
background-image:url("../images/rating-star.png"); background-repeat:no-repeat;
background-size:18px auto; background-position:0 2px;
image-rendering: -moz-crisp-edges;
}
.rates--star .star.checked {background-position:0 bottom;}

.rates--star__text {display:none; margin-right:15px;}

/* review section */
.reviewContainer {padding-top:25px;}
.reviewContainer h3 {padding-bottom:10px;
border-bottom:2px solid rgba(0,0,0,.04);
}

.reviewEntry {padding:15px 0;
display:flex;
}
.reviewEntry--avatar {flex-shrink:0; margin-right:15px; padding-top:2px;}
.reviewEntry--avatar .imgwpr {width:50px; height:50px; border-radius:50%;
background-color:#ebebe9; box-shadow:inset 0 0 2px #dedfe0;
overflow:hidden;
}
.reviewEntry--avatar img {width:100%;}

.reviewEntry--content {font-size:15px; line-height:1.5;}
.reviewEntry--content .user {margin-bottom:5px;}

.reviewEntry--content .name {font-size:16px; margin-right:10px; font-weight:bold;}

.reviewEntry--content .user--group {display:flex; align-items:center; margin:6px 0;}
.reviewEntry--content .rating {transform:scale(0.8); transform-origin:0 50%;}

.reviewEntry--content .date {font-size:13px; color:#777; margin-left:-10px;
position:relative; top:1px;
}

/* 目前登入使用者的評論 */ 
.myreviewEntry {padding:10px 0; margin-bottom:20px;
border-top:2px solid rgba(0,0,0,.04);
border-bottom:2px solid rgba(0,0,0,.04);
}

/* 刪除評論 */
/* .reviewEntry--delete {cursor:pointer;} */

.reviewEntry--userBtnwpr {display:flex; align-items:center; margin-top:5px;}
.reviewEntry--userBtnwpr div {
padding:2px 10px;    
font-size:13px; color:#fff;
background-color:#19539a; border-radius:4px;
cursor:pointer;
}
.reviewEntry--userBtnwpr div+div {margin-left:6px;}

.reviewEntry--userBtnwpr div:hover {
background-color:#0f84b1; 
}

/* ---------- Modal ---------- */
.modal {position:fixed; left:0; top:0;
width:100%; height:100%; z-index:10000;
display:flex; align-items:center; justify-content:center;
display:none;
}
.modal.active {display:flex;}

.modal--overlay {position:fixed; left:0; top:0;
width:100%; height:100%;
background-color:rgba(40,44,52,.6);
}

.modal--container {
position:relative; min-width:300px; max-width:450px;
margin:0 10px;
background-color:#f7f7f4; border-radius:6px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.modal--header,
.modal--content,
.modal--footer {padding:15px 20px;
line-height:1.5;
}

.modal--header {
background-color:#fff; border-radius:6px 6px 0 0;
border-bottom:1px solid #dedfe0;
}
.modal h1 {font-size:21px; color:#111939; line-height:1.4;}

/* ---------- Modal: Login ---------- */
#loginModal .modal--container {max-width:320px;}

.login-btnwpr {padding:5px 0;}
.loginbtn {display:block; height:50px; padding:0 20px;
display:flex; align-items:center;
color:#fff;
border-radius:6px;
}
.loginbtn+.loginbtn {margin-top:15px;}
.login-facebook {background-color:#2a4c9e;}
.login-google {background-color:#e14432;}

.loginbtn i {width:36px;
font-size:18px;
display:flex; justify-content:center; align-items:center;
}

#loginModal .userType {padding:10px 0; margin-bottom:15px;
text-align:center;
border-bottom:1px solid #dedfe0;
}
#loginModal .socialLogin {padding:10px 0;}

#loginModal h3 {
margin-bottom:10px;
font-size:15px; color:#111939; line-height:1.4; text-align:left;
}
#loginModal h3 i {margin-right:6px;
color:#e0645e; font-size:13px;
position:relative; top:-1px;
}

#userTypeHint {padding:4px 15px;
font-size:14px; color:#fff; text-align:center;
background-color:#0f7add; border-radius:6px;
position:relative; top:12px; display:none;
}
#userTypeHint:before {content:""; display:block;
width:0; height:0; position:absolute; left:50%; top:-8px; margin-left:-8px;
border-style:solid; border-width:0 8px 8px 8px;
border-color:transparent transparent #0f7add transparent;
}
#userTypeHint.show {display:inline-block;}

.userType .login-btnwpr {display:flex;}

.loginTypeBtn {flex:1;
display:flex; justify-content:center; align-items:center;
cursor:pointer; height:50px;
border:1px solid #dedfe0; background-color:#fff;
}
.loginTypeBtn+.loginTypeBtn {border-left:none;}

.loginTypeBtn.general {border-radius:6px 0 0 6px;}
.loginTypeBtn.manager {border-radius:0 6px 6px 0;}

.loginTypeBtn:hover {background-color:#fbfbf9; border-color:#d1d1d1;}
.loginTypeBtn.selected {background-color:#eeeff1; border-color:#d1d1d1;}

#loginModal .modal--footer {
font-size:14px; color:#adadad; line-height:1.3;
background-color:#3b3c42; border-radius:0 0 6px 6px;
border-top:1px solid #dedfe0;
}

#loginModal .modal--footer .item {display:flex;}
#loginModal .modal--footer .item+.item {margin-top:10px;}
#loginModal .modal--footer .item i {margin-right:7px;
color:#777; font-size:12px;
position:relative; top:4px;
}
#loginModal .modal--footer .item i.fa-genderless {
font-size:16px; top:2px;
}

#loginModal .modal--footer .item a {padding:0 3px;
color:#ddd; cursor:pointer;    
border-bottom:1px dotted #333;
}
#loginModal .modal--footer .item a:hover {background-color:#555; color:#fff;}

/* ---------- Modal: Rating and Review ---------- */
#reviewModal .modal--header h2 {font-size:16px; margin-top:6px;}

#reviewModal .modal--footer .btnwpr {
display:flex; justify-content:flex-end; align-items:center;    
}
#reviewModal .modal--footer button {
padding:0;
font-family:inherit; font-size:15px;
border-radius:0; box-shadow:none; border:none;
background-color:transparent;
cursor:pointer;
}

#reviewModal .modal--footer .submit {
height:32px; padding:0 25px; margin-left:25px;   
border-radius:6px; border:1px solid #02a9d4;
background-color:#03bdcc; color:#fff;
}
#reviewModal .modal--footer .submit:hover {background-color:#02b2d0;}
#reviewModal .modal--footer .cancel {
color:#444;   
}

#reviewModal h3 {font-size:16px;}

/* review rating */
.review--ratingwpr {margin-bottom:20px; margin-top:4px;}

/* review user input */
.review--textwpr {padding:10px; margin:6px 0;
background-color:#ededee; border:1px solid #dedfe0;
border-radius:4px;
}
#reviewModalInput {width:100%; resize:none; max-height:200px;
font-family:inherit; font-size:15px; line-height:inherit;
background-color:transparent; border:none;
}
#reviewModalInput:focus {outline: none;}

.revieiw--coupon {padding:15px 20px;
font-size:15px; color:#fff;
background-color:#0f7add; border-radius:6px;
position:relative; top:12px;
}
.revieiw--coupon:before {content:""; display:block;
width:0; height:0; position:absolute; left:30px; top:-8px;
border-style:solid; border-width:0 8px 8px 8px;
border-color:transparent transparent #0f7add transparent;
}

.revieiw--coupon.hide {display:none;}

.revieiw--coupon h4 {margin-bottom:8px;
font-size:17px;
}
.revieiw--coupon h4 i {margin-right:10px;
position:relative; top:-1px;
}
.revieiw--coupon .hint {margin-top:12px; padding-top:8px;
font-size:14px;
border-top:1px dashed #c6dff7;
}

.hint--qualified {display:none; margin-left:4px;}
.hint--qualified.show {display:inline;}

/* ---------- Modal: trigger ---------- */
#ratingTrigger {cursor:pointer;
padding:4px 10px;
font-size:15px;
background-color:#19539a; color:#fff;
border-bottom:none; border-radius:4px;
}
#ratingTrigger:hover {
background-color:#0f84b1;
}

/* ---------- response ---------- */
@media screen and (max-width: 600px) {

    .header {position:relative; left:auto; top:auto; z-index:auto;}
    .main {padding-top:0;}
    .main--head h1 {font-size:22px;}
    #hamburger {display:block;}
    .download {flex-direction:column; z-index:990; max-width:140px;
        justify-content:center; align-items:stretch;
        height:auto; float:none; padding:8px 14px 16px 14px;
        position:absolute; right:10px; top:38px;
        background-color:#111939; border-radius:4px;
        opacity:0; visibility:hidden; pointer-events:none;
        transition:400ms; transition-property:opacity,top,visibility;
    }
    .download.open {
        top:48px;
        opacity:1; visibility:visible; pointer-events:auto;
    }
    .download:before {content:""; display:block;
        width:0; height:0; border-style:solid;
        border-width:0 8px 8px 8px;
        border-color:transparent transparent #111939 transparent;
        position:absolute; top:-8px; right:17px;
    }
    .download--btn {justify-content:flex-start;}
    .download--btn:hover {background-color:#097b91;}
    .download--btn.apple {margin-bottom:15px;}
    .download--btn.google {margin-left:0;}
    .download .txt {margin-right:0; margin-bottom:8px; display:block;
        font-size:14px; text-align:center;
    }

    /* App store */
    .store .qrcode,
    .store .fa-search,
    .store p.desktop {display:none;}

    .store .centerwpr {display:block;
        padding-top:20px; padding-bottom:20px;
    }
    .store--intro p.mobile {display:block;}
    .btn-container {display:flex;}

    /* User Control: 尚未登入 */
    #userControlwpr {order:-1; height:auto;
        margin-left:0;
        padding-bottom:10px; padding-top:2px; margin-bottom:10px;
        border-bottom:2px solid #0e3b58;
    }
    
    #ucLoginbtn {padding:8px 5px; justify-content:center;
        height:auto;
    }

    /* User Control: 登入後 */
    #userControlwpr.login {padding:6px 0 0 0; margin-bottom:0;
        border-bottom:none;
    }

    .login .uc-info {display:block; height:auto; 
        padding-bottom:15px; padding-left:0; margin-bottom:10px;
        text-align:center;
        border-bottom:2px solid #0e3b58;
    }

    .uc-info--avatar {width:36px; height:36px; margin:0 auto 6px auto;}
    .uc-info--name {margin-bottom:10px;}

    #ucLogoutbtn {height:auto; margin-left:0; padding:5px;
        display:block;
    }

    /* basic info, contact info list */
    .basic-info li, .contact-info li {
        display:block;
    }
    .main--content ul li:before {position:relative; top:-1px;}

    /* rating */
    li.rating .star-container {display:inline-flex; top:3px; margin-bottom:10px;}
    #ratingSum {display:inline-block;}
    #ratingTrigger {display:inline-block;}

    .rates--slot {max-width:200px; margin-right:15px;}
    .rates--star {display:none;}
    .rates--star__text {display:block;}

}

@media screen and (max-width: 480px) {

    .ratingSummary {flex-direction:column;}
    .ratingSummary--avg {margin-right:0; margin-bottom:15px;}
    .ratingSummary--rates {width:100%;}
    .rates--slot {max-width:none;}

}

@media screen and (max-width: 400px) {

    .main--head h1 {font-size:21px;}
    .main--content h2 {font-size:20px;}
    .coupon--content p {font-size:15px; line-height:1.2;}

}

@media screen and (max-width: 350px) {

    .centerwpr {padding-left:15px; padding-right:15px;}
}